@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

/* PRESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 3px dashed rgb(255, 255, 255);
  outline-offset: 0;
}

html {
  font: 80% / 1.15 sans-serif;
}

h1,
h2 {
  margin-bottom: 0;
  text-align: center;
  padding: 1rem 0;
}

h1{
  font-size: 2em;
  font-family: 'Press Start 2P';
  color: #fff;
  text-shadow: 3px 3px black;
}

h2, h3{
  color: rgb(153, 4, 74);
}

ul {
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: #049b0b;
}

a:hover, button:hover{
  color: rgb(255, 72, 0);
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

input[type="text"] {
  border-radius: 0;
  margin-right: 1em;
}

form {
  background-color: #ffffffbd;
  padding: 0 2rem 1rem;
  margin-bottom: 1.8rem;
}

body {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  font: 1.8rem/1.25 VT323, sans-serif;
  background-color: #1f0c4de5;
  color: #4d4d4d;
}
@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}
/*END PRESETS*/
/* GLOBAL STYLES */

.gameshell {
  background: #ffa900;
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.7);
}

nav {
  margin: 0 !important;
}

.homebtn {
  background-image: url(images/homebtn.png);
  background-repeat: no-repeat;
  padding: 1em .7em .5em .6em;
  font-size: 1.9rem;
}

.playboard {
  background-color: #000;
  max-width: 600px;
  display: block;
  margin: auto;
  margin-top: 1.4rem;
}

.monster {
  width: 40;
  height: 40;
}

.form-group > input[type="text"] {
  display: inline-block;
  margin-top: 0.4rem;
}

.btn {
  padding: 0.8rem 1rem 0.7rem;
  border: 0.2rem solid #4d4d4d;
  background-color: #fff;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:not(:last-child) {
  margin-right: 1em;
}

.btn.toggle-btn[aria-pressed="true"] {
  background-color: rgb(208, 255, 0);
}

.btn__danger {
  color: #fff;
  background-color: #ca3c3c;
  border-color: #bd2130;
}

.btn__filter {
  border-color: lightgrey;
}

.btn__primary {
  color: rgb(10, 10, 10);
  background-color: rgb(255, 255, 255);
}

.btn-group {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.btn-group > * {
  flex: 1 1 49%;
}

.btn-group > * + * {
  margin-left: 0.8rem;
}

.label-wrapper {
  margin: 0;
  flex: 0 0 100%;
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

[class*="stack"] > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-small > * + * {
  margin-top: 1.25rem;
}

.stack-large > * + * {
  margin-top: 2.5rem;
}

/* word input output text box */
.output {
  width: 100%;
  height: 2em;
  line-height: 2em;
  align-self: center;
  border:rgb(208, 255, 0) solid 3px;
  background-color: #fff;
  color: #049b0b;
  padding:0 .5rem;
}

.output:focus {
 background-color: rgb(255, 242, 123);
 box-shadow: inset 0 0 0 2px;
}

.wrongText {
  color: #ca3c3c;
}

.input {
  background-color: #000;
  color: #fff;
  height: 2em;
  line-height: 2em;
  padding:0 .5rem;
  overflow: hidden;
}

/* scorelist styles */
.score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  margin-top: 1em;
}

.score > span {
  font-size: 3rem;
}

.scorelist {
  margin-top: 0 !important;
}

.scorelist ul {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.scorelist:nth-of-type(2n) {
  background-color: rgba(255, 255, 255, 0.35);
}

.scorelist ul li:nth-of-type(1){
  width: 150px;
  overflow-wrap: break-word;
}

.scorelist ul li:nth-of-type(3){
  width: 150px;
}

.scorelist .title {
  font-weight: 600;
}

form {
  margin-bottom: 1rem;
}

.list-bg {
  background-color: rgba(255, 255, 255, 0.35);
}

.list-bg > * {
  padding: 1.5rem 2rem;
  margin: 0;
}

.list-bg > * > *{
  padding: 1rem 0 ;
  margin: 0;
}

/* game alert styles */
.gamealert {
  height: 1em;
  color: #ca3c3c;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: auto;
  font-size: larger;
}

.gamealert ~div {
  display: flex;
  align-items: center;
}

.gamealert ~div p {
  width: 2em;
  line-height: 1.5rem;
  margin: 0 1.5rem 0 0 ;
  color:rgb(64, 42, 160);;
}

/* loading overlay */
.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000083;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 50vh;
  color: #fff;
  font-size: 3rem;
}

.loaded {
  display: none;
}

/* homepage styles */
.currprofile ~a button{
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 1.2em;
  font-size: xx-large;
  border: rgb(208, 255, 0) dashed 4px;
  padding: .8em 0;
  background-color: #222222;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.currprofile ~a button:hover{
  color: yellow;
}

.profile-label{
  display: flex;
  justify-content: space-between;
  color: rgb(64, 42, 160);
}

.curr-profile-label {
  color: rgb(64, 42, 160);
}

.currprofile {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:baseline;
  gap: 1em;
}

.currprofile div:nth-of-type(1){
  flex: 1 1 50%;
  max-width: 250px;
  min-width: 0;
}

.currprofile div:nth-of-type(2){
  flex: 1 1 25%;
  max-width: 250px;
  min-width: 0;
}

 .currprofile div:nth-of-type(3) > .btn {
  margin-right: 0 !important;
}

.currprofile div:nth-of-type(3){
  align-self: center;
}

.currprofile div div:nth-of-type(2) {
  color: rgb(64, 42, 160);
  font-weight: 600;
  font-size: larger;
  overflow-wrap: break-word;
}

li.profile > div >div {
  display: flex;
  justify-content: space-between;
}

.instructions{
  text-align: center;
  padding: 1px 1rem;
  margin-top: 4rem;
  font-style: oblique;
  color: #bd2130;
  position: relative;
}

.instructions > h3 {
  position: absolute;
  top: -50px;
  color: #fff;
  text-shadow: 2px 2px black;
}

.emphasize {
  color: #049b0b;
}
@media screen and (min-width: 550px) {
  .stack-small > * + * {
    margin-top: 1.4rem;
  }
  .stack-large > * + * {
    margin-top: 2.8rem;
  }
}
.stack-exception {
  margin-top: 1.2rem;
}
/* END GLOBAL STYLES */

@media screen and (min-width: 550px) {
  .gameshell {
    padding: 4rem;
  }
}
.gameshell > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.gameshell > form {
  max-width: 100%;
}
.gameshell > h1 {
  display: block;
  max-width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
.label__lg {
  line-height: 1.01567;
  font-weight: 300;
  padding: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
.input__lg {
  padding: 2rem;
  width: 80%;
  border: 2px solid #000;
}
.input__lg:focus {
  border-color: #4d4d4d;
  box-shadow: inset 0 0 0 2px;
}
.btn__lg{
  width: 100%; 
}
[class*="__lg"] {
  display: inline-block;
  font-size: 1.9rem;
}
[class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 620px) {
  [class*="__lg"] {
    font-size: 2.4rem;
  }
}
